<div class="header">
  <% if (LOGO_URL) { %>
  <img 
    src="<%= LOGO_URL %>" 
    alt="Owambe ERP Logo"
    width="180"
    height="auto"
    style="display:block; margin:0 auto; max-width:150px; height:auto;"
  />
  <% } %>
</div>